---
import MainLayout from '@/layouts/MainLayout.astro'
import ShareButton from '@/components/ShareButton.astro'
import SlideAnimationIcon from '@/components/SlideAnimationIcon.astro'
---

<MainLayout
  titlePage="Calendario de Eventos de la Comunidad | GYE TECH"
  descriptionPage="No te pierdas ningún evento de la comunidad tecnológica más grande del Ecuador, Guayaquil Tech.">
  <h1 class="text-center font-bold text-2xl py-10 tracking-wider [text-wrap:balance] sm:text-4xl">
    CALENDARIO DE EVENTOS
    <span class="text-primary">2023</span>
  </h1>
  <SlideAnimationIcon />
  <section class="w-full overflow-auto">
    <table class="mx-auto min-w-[57.5rem] w-max mb-4 border-b border-slate-100">
      <thead class="bg-slate-100 text-slate-600">
        <tr>
          <th
            class="px-8 py-6 w-max text-left text-sm leading-4 font-medium tracking-widest rounded-tl-md md:text-base">
            FECHA
          </th>
          <th
            class="px-8 py-6 w-max text-left text-sm leading-4 font-medium tracking-widest md:text-base">
            EVENTO
          </th>
          <th
            class="px-8 py-6 w-max text-left text-sm leading-4 font-medium tracking-widest md:text-base">
            ORGANIZADOR
          </th>
          <th
            class="px-8 py-6 w-max text-left text-sm leading-4 font-medium tracking-widest rounded-tr-md md:text-base">
            INFORMACIÓN
          </th>
        </tr>
      </thead>
      <tbody id="events">
        <!-- row container -->
      </tbody>
    </table>
  </section>
  <svg
    id="loading-spinner"
    class="animate-spin mt-8 mx-auto h-14 w-14 text-primary"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24">
    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>
  <ShareButton />
</MainLayout>

<script>
  // Spreadsheet ID and the name of the spreadsheet
  // Demo ID: 1ZEMXCnbwTo0vrvKmQaIuaGC9QVGGRrRwKwGmM10Tx60
  // Demo Sheet Name: 2023
  const SHEET_ID = '1ZEMXCnbwTo0vrvKmQaIuaGC9QVGGRrRwKwGmM10Tx60'
  const SHEET_NAME = '2023'
  // The URL of the spreadsheet to source data from. Make sure it is public or set to Anyone with link can view.
  const base = `https://docs.google.com/spreadsheets/d/${SHEET_ID}/gviz/tq?`

  // select column names
  const SQL_QUERY = `SELECT A, B, C, D`
  const query = encodeURIComponent(SQL_QUERY)

  const eventsContainer = document.getElementById('events')
  const loadingSpinner = document.getElementById('loading-spinner')

  fetch(`${base}&sheet=${SHEET_NAME}&tq=${query}`)
    .then(res => res.text())
    .then(rep => {
      const jsonString = rep.substring(rep.indexOf('{'), rep.lastIndexOf('}') + 1)
      const jsData = JSON.parse(jsonString)

      const spreadsheetRows = jsData.table.rows

      loadingSpinner.remove()

      eventsContainer.innerHTML = spreadsheetRows
        .map(row => {
          return `
          <tr class="transition-colors duration-100 hover:bg-primary/40">
            <td class="px-8 py-6">
              <p class="text-base leading-5 font-regular text-slate-100 md:text-lg">${
                row.c[0].f
              }</p>
            </td>
            <td class="px-8 py-6">
              <p class="text-base leading-5 font-regular text-slate-100 md:text-lg">${
                row.c[1].v
              }</p>
            </td>
            <td class="px-8 py-6">
              <p class="text-base leading-5 font-regular text-slate-100 md:text-lg">${
                row.c[2].v
              }</p>
            </td>
            <td class="px-2 py-4">
              <a class="px-6 py-2 text-primary/70 font-medium underline underline-offset-2 transition-colors duration-100 hover:text-primary" href=${
                row.c[3].v.includes('https://') ? row.c[3].v : `https://${row.c[3].v}`
              } target="_blank" rel="noopener noreferrer">Regístrate aquí</a>
            </td>  
          </tr>
        `
        })
        .join('')
    })
    .catch(error => console.log(error))
</script>
